@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.rounded-img {
  border-radius: 100px; /* Adjust the radius as needed */
}
.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.my-gradient {
  background: linear-gradient(to top, var(--tw-gradient-start), var(--tw-gradient-end));
}

.bg-blue-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #113180 -278.56%,
    #5396db -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0.0, 0.0, 0.4);
}

.map-container {
  position: relative;
  display: inline-block;
}

.info-box {
  position: absolute;
  top: 50%; /* Adjust based on actual tooltip positioning */
  left: 50%; /* Adjust based on actual tooltip positioning */
  transform: translate(-50%, -50%);
  background: var(--black-gradient);
  color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--card-shadow);
  text-align: left;
  width: 300px; /* Adjust as needed */
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.info-box.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1.05);
}

.info-box h2 {
  color: white;
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
  margin-top: 0;
}

.info-box p {
  font-size: 1rem; /* 16px */
  font-weight: 400;
}

/* Custom tooltip arrow */
.info-box::before {
  content: '';
  position: absolute;
  bottom: 100%; /* Adjust if necessary */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--black-gradient) transparent;
}

/* Animation for the info-box */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
  }
}

.info-box.active {
  animation: fadeInScale 0.3s ease-out forwards;
}

.phases-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.phase {
  color: #fff;
  background: #16205a;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  min-height: 400px; /* Ajuste conforme necessário */
}

.phase-title {
  color: #f3c562;
}

.phase-content h3 {
  color: #f3c562;
  font-weight: bold;
}

.icon-placeholder {
  width: 50px;
  height: 50px;
  background-color: #120e49;
  margin-bottom: 30px;
}

.design {
  background-image: url('path-to-your-icon/design-icon.png');
  background-size: cover;
}

h3 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.phase-icon {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.arrow-icon {
  display: inline-block;
  margin: 5px;
  height: 15px;
  width: auto;
}

.devmap-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.devmap-image {
  max-width: 100%;
  height: auto;
}

.marginTop {
  margin-top: 2rem;
}

.roadmap-container {
  text-align: center;
}

.roadmap-title-container {
  text-align: center;
}

.roadmap-title {
  color: #ffc27c;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

.roadmap-subtitle {
  color: #4682b4;
  margin-bottom: 3rem;
}

.download-button {
  background-color: #ffc27c;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-top: 16px; /* Adiciona espaçamento entre o texto e o botão */
}
